body{
  background-color: #ffbf5e;
}
h1{
  margin-top: 2%;
  margin-left: 80%;
  font-size: 48px;
}
img{
  margin-top: 2%;
}
.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 0px; /*Optional*/
}
.Column
{
  display: table-cell;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff9a00;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #e88c00;
}

.active {
  background-color: #000000;
}
